<!--
https://codepen.io/sevilayha/pen/AmFLE?editors=1010
https://codepen.io/jbltx/full/WbdRRb
https://codepen.io/nikhil8krishnan/pen/WvYPvv
(tooltip)
https://codepen.io/mildrenben/pen/rVBrpK
-->
<html>
<meta charset="utf-8">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{%static 'dashboard/css/style-tables.css' %}">
    <link rel="stylesheet" href="{%static 'dashboard/css/style-dashboard.css' %}">

    <script type="text/javascript">
        var obj = "{{activities}}";
        var response = JSON.parse(obj.replace(/&quot;/g, '"'));
    </script>
    <script>
        var hi = "JI";
        var sortApp = angular.module('sortApp', []);
        sortApp.controller('mainController', function ($scope, $http) {
            console.log(response.data);
            var hello = "newyear";
            // store json keys in keys[]
            var keys = [];
            keys = Object.keys(response.data[0]);
            console.log('obj contains ' + keys.length + ' keys: ' + keys);

            $scope.sortType = keys[1]; // set the default sort type
            $scope.sortReverse = false;  // set the default sort order
            $scope.contentFilter = '';     // set the default search/filter term
            $scope.users_json = [];
            for (k in response.data) {
                console.log(response.data[k]);
                $scope.users_json.push(response.data[k]);
            }

            console.log($scope.tableHeaders);

        });

    </script>

    <script>

        $(document).ready(function () {
            console.log("I'm ready!");

            $("#hamburger").click(function () {
                console.log('burger click');
                $sidenav = document.getElementById("sidenav");
                if ($(sidenav).hasClass("sidenav-expand")) {
                    $(sidenav).removeClass("sidenav-expand");
                    $(document.getElementById("main")).removeClass("main-push");
                } else {
                    $(sidenav).addClass("sidenav-expand");
                    $(document.getElementById("main")).addClass("main-push");
                }
            });

            $(".expandable").click(function (event) {
                var i = $(event.target).find("i");
                // change arrow
                if ($(i).hasClass("fa-angle-down")) {
                    $(i).removeClass("fa-angle-down");
                    $(i).addClass("fa-angle-up");
                } else {
                    $(i).removeClass("fa-angle-up");
                    $(i).addClass("fa-angle-down");
                }
                // check input
                var inp = $(this).prev("input");
                var hiddenList = $(this).next();

                if ($(inp).prop("checked")) {
                    $(inp)[0].checked = false;// Unchecks it
                    hiddenList.removeClass("unhide-list");
                } else {
                    $(inp)[0].checked = true; // Checks it
                    hiddenList.addClass("unhide-list");
                }


            });

            // Add tooltip
            $(document).on('mouseover', 'td.tbl-body span', function (event) {
                var text = $(event.target).closest('span.wrap-cell').text();
                $($(event.target).closest('span.wrap-cell')).attr('title', text);
            });
            $(".sidenav a ").click(function () {
                // select list, remove id
                if (!$($(this).closest("li")).hasClass("expandable") && !$($(this).closest("li")).hasClass("hidden-item")) {
                    var list = $(this).closest("ul");
                    var allLi = $(list).find("li").removeAttr('id');

                    // add nav-selected id to target
                    $($(this).closest("li")).attr("id", "nav-selected");
                }

            });

            $(".hidden-item").click(function (event) {
                console.log(event.target);
                if ($(event.target).hasClass("filter-selected")) {
                    $(event.target).removeClass("filter-selected");
                } else {
                    var list = $(this).closest("div");
                    var allLi = $(list).find("li").removeClass("filter-selected");

                    $(event.target).closest("li").addClass("filter-selected");
                }
            });

            $(".hidden-item a").click(function (event) {
                console.log("a event");
                var li = $(event.target).closest("li");
                console.log(li);

                if ($(li).hasClass("filter-selected")) {
                    $(li).removeClass("filter-selected")
                } else {
                    var list = $(this).closest("div");
                    var allLi = $(list).find("li").removeClass("filter-selected");

                    $(li).addClass("filter-selected");
                }
                event.stopPropagation();
            });

        });

    </script>
    <title>CSO Dashboard</title>
</head>

<body>

<div id="sidenav" class="sidenav">
    <div id="nav-logo" class="nav-top">
        <span>CSO</span>Dashboard
    </div>
    <div>
        <ul>
            <li id="nav-selected">
                <a href="#">Dashboard</a>
            </li>

            <!-- Term list -->
            <li>
                <a href="#">Organization List</a>
            </li>
            <input id="toggle-term" class="toggle-list" type="checkbox">
            <li class="expandable">
                <a href="#">Term<i id="term-expand" class="i-expand fa fa-angle-down"></i></a>
            </li>
            <div id="all-terms" class="hidden-list">
                <li class="hidden-item filter-selected">
                    <a href="#">Term 1</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Term 2</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Term 3</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Yearlong</a>
                </li>
            </div>

            <!-- Status list -->
            <input id="toggle-status" class="toggle-list" type="checkbox">
            <li class="expandable">
                <a href="#">Status<i id="status-expand" class="i-expand fa fa-angle-down"></i></a>
            </li>
            <div id="all-terms" class="hidden-list">
                <li class="hidden-item">
                    <a href="#">Early Complete</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Late Complete</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Early Incomplete</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Late Incomplete</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Pending</a>
                </li>
                <li class="hidden-item">
                    <a href="#">Acknowledged Cancellation</a>
                </li>
            </div>
        </ul>
    </div>
</div>
<div id="main">
    <!-- Angular app declaration -->
    <div class="container" ng-app="sortApp" ng-controller="mainController">

        <!-- Navigation Bar -->
        <div id="nav-search" class="nav-top">

            <!-- Hamburger menu -->
            <div id="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

            <!-- Search bar -->
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search Post-acts" ng-model="contentFilter">
                    </div>
                </div>
            </form>

            <!-- User bubble thing -->
            <div id="user-options">
                <div id="user-icon">{{ user.first_name|slice:":1" }}</div>
                <div id="user-username"><a href="/logout/">{{ user.first_name }}</a></div>
            </div>

        </div>

        <!-- Dashboard -->
        <div id="dash-content">

            <!-- Dash Header -->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">

                    <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              <span class="wrap-cell">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'username'; sortReverse = !sortReverse">
              <span class="wrap-cell">
                Username
                <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
              </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
              <span class="wrap-cell">
                Email
                <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
              </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'phone'; sortReverse = !sortReverse">
              <span class="wrap-cell">
                Phone
                <span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span>
              </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'website'; sortReverse = !sortReverse">
              <span class="wrap-cell">Website 
                <span ng-show="sortType == 'website' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'website' && sortReverse" class="fa fa-caret-up"></span>
              </span>
                            </a>
                        </td>
                    </tr>
                    </thead>

                </table>
            </div>

            <!-- Dash content -->
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr ng-repeat="user_person in users_json | orderBy:sortType:sortReverse | filter:contentFilter">
                        <td id="important" class="tbl-body"><span class="wrap-cell">{{ user_person.name }}</span></td>
                        <td class="tbl-body"><span class="wrap-cell">{{ user_person.username }}<span
                                class="tooltip"></span></span></td>
                        <td class="tbl-body"><span class="wrap-cell">{{ user_person.email }}</span></td>
                        <td class="tbl-body"><span class="wrap-cell">{{ user_person.phone }}</span></td>
                        <td class="tbl-body"><span class="wrap-cell tooltip--bottom" data-tooltip="Hello World!">{{ user_person.website }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


</body>
</html>