<html>
<meta name="viewport" content="width=device-width" />
<meta charset="utf-8">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{%static 'dashboard/css/style-tables.css' %}">
    <link rel="stylesheet" href="{%static 'dashboard/css/style-dashboard.css' %}">
    <link rel="stylesheet" href="{%static 'dashboard/css/modal-style.css' %}">
    <link rel="stylesheet" href="{%static 'dashboard/css/modal-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script>
        var sortApp = angular.module('sortApp', []);
    </script>
    <script type="text/javascript">
        var obj = "{{activities}}";
        obj = obj.replace(/&#39;/g, '"');
        var response = JSON.parse(obj);
    </script>
    <script type="text/javascript" src="{% static 'dashboard/js/js-ng-table.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/modal.js' %}"></script>
    <script type="text/javascript">
        function windowResizeNav() {
          $sidenav = document.getElementById("sidenav");
          search = document.getElementById("form-search");

          if($(sidenav).hasClass("sidenav-expand")) {
            if($(window).width() < 738) {
              console.log("none");
              $("#form-search").css( {"display": "none"} );
            } else if($(window).width() < 832) {
              console.log("none0");
              $("#form-search").css( {"display": "inline-block", "width": "20%"} );
            } else if($(window).width() < 1297) {
              console.log("none1");
              $("#form-search").css( {"display": "inline-block", "width": "30%"} );
            } else {
              console.log("none2");
              $("#form-search").css( {"display": "inline-block", "width": "55%"} );
            }
          } else {
            if($(window).width() <= 580) {
              $("#form-search").css( {"display": "none"});
            } else if($(window).width() < 717) {
              $("#form-search").css( {"display": "inline-block", "width": "40%"} );
            } else if($(window).width() >= 717) {
              $("#form-search").css( {"display": "inline-block", "width": "55%"} );
            }
          }

        }
      $(document).ready(function() {
        console.log("I'm ready!");

        $("#hamburger").click(function() {
          $sidenav = document.getElementById("sidenav");
          if($(sidenav).hasClass("sidenav-expand")) {
            $(sidenav).removeClass( "sidenav-expand");
            $(document.getElementById("main")).removeClass("main-push");
          } else {
            $(sidenav).addClass( "sidenav-expand");
            $(document.getElementById("main")).addClass("main-push");
          }
          windowResizeNav();
        });

        $('#modal-wrapper, .closeModal, .closeModal i').click(function(){
           $('#modal-wrapper, #modal-details-wrapper').hide();
        });

        $('#modal-details-wrapper').click(function(e){
            e.stopPropagation();
        });

        $('html').click(function() {
          if(event.target.id != "a-login" && event.target.id != "user-icon") {
              $('#login-dropdown').hide();
              $('#form-up-triangle').hide();
          }
        });

        $('#user-login a, #user-username a, #user-icon').click(function(){
          console.log("show dropd");
           $('#login-dropdown').show();
           $('#input-user').focus();
           $('#form-up-triangle').show();
        });

        $('#login-dropdown, #form-up-triangle').click(function(e){
           e.stopPropagation();
        });

        // Hidden
        $(".expandable").click(function(event) {
          var i = $(event.target).find("i");
          // change arrow
          if($(i).hasClass("fa-angle-down")) {
            $(i).removeClass( "fa-angle-down");
            $(i).addClass( "fa-angle-up");
          } else {
            $(i).removeClass( "fa-angle-up");
            $(i).addClass( "fa-angle-down");
          }
          // check input
          var inp = $(this).prev("input");
          var hiddenList = $(this).next();

          if ( $( inp ).prop( "checked" ) ) {
            $(inp)[0].checked = false;// Unchecks it
            hiddenList.removeClass("unhide-list");
          } else {
            $(inp)[0].checked = true; // Checks it
            hiddenList.addClass( "unhide-list");
          }


        });

        // Add tooltip
        $(document).on('mouseover', 'td.tbl-body span', function(event){
          var text = $(event.target).closest('span.wrap-cell').text();
          $($(event.target).closest('span.wrap-cell')).attr('title', text);
        });


        $(document).on('click', 'td.tbl-body, span.ng-binding', function(event){
          $('#modal-wrapper, #modal-details-wrapper').show();
        });

        /*$(".sidenav a ").click(function() {
          // select list, remove id
          if(!$($(this).closest("li")).hasClass("expandable") && !$($(this).closest("li")).hasClass("hidden-item")) {
            var list = $(this).closest("ul");
            var allLi = $(list).find( "li" ).removeAttr('id');

            // add nav-selected id to target
            $($(this).closest("li")).attr("id", "nav-selected");
          }

        });*/

        // Toggle sidenav filter
        $(".hidden-item").click(function(event) {
          console.log(event.target);
          if($(event.target).hasClass("filter-selected")) {
            $(event.target).removeClass("filter-selected");
          } else {
            var list = $(this).closest("div");
            var allLi = $(list).find( "li" ).removeClass("filter-selected");

            $(event.target).closest("li").addClass("filter-selected");
          }
        });

        // Toggle sidenav filter
        $(".hidden-item a").click(function(event) {
          var li = $(event.target).closest("li");

          if($(li).hasClass("filter-selected")) {
            $(li).removeClass("filter-selected")
          } else {
            var list = $(this).closest("div");
            var allLi = $(list).find( "li" ).removeClass("filter-selected");

            $(li).addClass("filter-selected");
          }
          event.stopPropagation();
        });

      });

      /*Resize events*/
      $(window).on('resize', function(){
        $('#login-dropdown').hide();
        $('#form-up-triangle').hide();
        windowResizeNav();
      });

    </script>
    <title>CSO Dashboard</title>
</head>

<body>
<!-- Angular app declaration -->
<div class="container" ng-app="sortApp" ng-controller="mainController">

    <div id="sidenav" class="sidenav">
        <div id="nav-logo" class="nav-top">
            <span>CSO</span>Dashboard
        </div>
        <div>
            <ul>
                <li id="nav-selected">
                    <a href="#">Dashboard</a>
                </li>

                <!-- Term list -->
                <li>
                    <a href="#">Organization List</a>
                </li>
                <input id="toggle-term" class="toggle-list" type="checkbox">
                <li class="expandable">
                    <a href="#">Term<i id="term-expand" class="i-expand fa fa-angle-down"></i></a>
                </li>
                <div id="all-terms" class="hidden-list">
                    <li class="hidden-item" ng-click="toggleTerm(1)">
                        <a href="#" ng-click="toggleTerm(1)">Term 1</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleTerm(2)">
                        <a href="#" ng-click="toggleTerm(2)">Term 2</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleTerm(3)">
                        <a href="#" ng-click="toggleTerm(3)">Term 3</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleTerm('yearlong')">
                        <a href="#" ng-click="toggleTerm('yearlong')">Yearlong</a>
                    </li>
                </div>

                <!-- Status list -->
                <input id="toggle-status" class="toggle-list" type="checkbox">
                <li class="expandable">
                    <a href="#">Status<i id="status-expand" class="i-expand fa fa-angle-down"></i></a>
                </li>
                <div id="all-terms" class="hidden-list">
                    <li class="hidden-item" ng-click="toggleStatus('NC')">
                        <a href="#" ng-click="toggleStatus('NC')">Not Checked</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('EC')">
                        <a href="#" ng-click="toggleStatus('EC')">Early Complete</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('LC')">
                        <a href="#" ng-click="toggleStatus('LC')">Late Complete</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('EI')">
                        <a href="#" ng-click="toggleStatus('EI')">Early Incomplete</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('LI')">
                        <a href="#" ng-click="toggleStatus('LI')">Late Incomplete</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('P')">
                        <a href="#" ng-click="toggleStatus('P')">Pending</a>
                    </li>
                    <li class="hidden-item" ng-click="toggleStatus('AC')">
                        <a href="#" ng-click="toggleStatus('AC')">Acknowledged Cancellation</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    {% verbatim %}
    <div id="modal-wrapper">
        <div id="modal-details-wrapper">
            <ul class="tab-wrapper">
                <li class="active" data-id="genActs">General Activity Details</li>
                <li data-id="submission">Submission Details</li>
                <li data-id="csoDetails">CSO Details</li>
                <li class="closeModal"><i class="fa fa-times" aria-hidden="true"></i></li>
            </ul>
            <div class="content-wrapper visible" id="genActs">
                <div>
                    <b>Activity Title</b>
                    <p>{{modalActivity}}</p>
                </div>
                <div>
                    <b>Organization Name</b>
                    <p>{{modalOrg}}</p>
                </div>
                <div>
                    <b>Tie-up Organization</b>
                    <p>{{modalTieUp}}</p>
                </div>
                <div>
                    <b>ENP</b>
                    <p>{{modalEnp}}</p>
                </div>
                <div>
                    <b>ENMP</b>
                    <p>{{modalEnmp}}</p>
                </div>
                <div>
                    <b>ANP</b>
                    <p>{{modalAnp}}</p>
                </div>
                <div>
                    <b>ANMP</b>
                    <p>{{modalAnmp}}</p>
                </div>
            </div>
            <div class="content-wrapper" id="submission">
                <div>
                    <b>Timestamp</b>
                    <p>{{modalTimeS | date:'medium'}}</p>
                </div>
                <div>
                    <b>Type of Submission</b>
                    <p>{{modalSubType}}</p>
                </div>
                <div>
                    <b>Submitted by</b>
                    <p>{{modalSubBy}}</p>
                </div>
                <div>
                    <b>Contact Number</b>
                    <p>{{modalContact}}</p>
                </div>
                <div>
                    <b>Email Address</b>
                    <p>{{modalEmail}}</p>
                </div>
            </div>
            <div class="content-wrapper" id="csoDetails">
                {% endverbatim %}
                <form id="modalForm" method="post">
                    {% verbatim %}
                    <input type="hidden" name="id" value="{{modalId}}"/>
                    <div>
                        <b>Activity Title</b>
                        <p>{{modalActivity}}</p>
                    </div>
                    <div>
                        <b>Status</b>
                        {% endverbatim %}
                        {% if user.is_authenticated %}
                        <p id="submitStatus" contenteditable="true">
                            {% else %}
                        <p id="submitStatus" contenteditable="false">
                            {% endif %}
                            {% verbatim %}
                            {{modalStatus}}</p>
                    </div>
                    <div>
                        <b>Checked by</b>
                        {% endverbatim %}
                        {% if user.is_authenticated %}
                        <p id="submitCB" contenteditable="true">
                            {% else %}
                        <p id="submitCB" contenteditable="false">
                            {% endif %}
                            {% verbatim %}
                            {{modalChckedBy}}</p>
                    </div>
                    <div>
                        <b>Date Checked</b>
                        <p id="submitDC" contenteditable="false">{{modalDateChcked}}</p>
                    </div>
                    <div>
                        <b>Remarks</b>
                        {% endverbatim %}
                        {% if user.is_authenticated %}
                        <p id="submitRemarks" contenteditable="true">
                            {% else %}
                        <p id="submitRemarks" contenteditable="false">
                            {% endif %}
                            {% verbatim %}
                            {{modalRemarks}}</p>
                    </div>
                    <br/>
                    {% endverbatim %}
                    {% if user.is_authenticated %}
                    <input id="discard" type="button" value="Discard" class="button grey"/>
                    <input type="submit" value="Save" class="button"/>
                    {% csrf_token %}
                    <!--<button type="submit" class="button grey">Discard</button>-->
                    <!--<button type="submit" class="button">Save</button>-->
                    {% endif %}
                    {% verbatim %}
                </form>
            </div>
        </div>
    </div>


    <div id="main">


        <!-- Navigation Bar -->
        <div id="nav-search" class="nav-top">

            <!-- Hamburger menu -->
            <div id="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

            <!-- Search bar -->
            <form id="form-search">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input id="input-search" type="text" class="form-control" placeholder="Search Post-acts"
                               ng-model="searchFilter">
                    </div>
                </div>
            </form>

            <!-- User bubble thing -->
            {% endverbatim %}
            <div id="user-options">
                <div id="form-up-triangle"></div>


                <!--      <div id="user-icon">C</div>-->
                {% if user.is_authenticated %}
                <!--<div id="user-logout">-->
                    <!--<form action="" method="post">-->
                        <!--{% csrf_token %}-->
                        <!--<button type="submit">Log out</button>-->
                    <!--</form>-->
                <!--</div>-->

                    <form action="" method="post">
                        {% csrf_token %}
                        <div id="user-icon">C</div>
                        <div id="user-username">
                            <a id="a-login" href="">CSO</a>
                            <div id="login-dropdown">
                                <span>Add People</span>
                                <span>Archive Post-Acts</span>
                                <button id="btn-logout" type="submit">Log out</button>
                                <label for="btn-logout"><span>Log Out</span></label>
                            </div>
                        </div>
                    </form>



                {% else %}
                <div id="user-login">

                    <a id="a-login" href="">Log In</a>
                    <div id="login-dropdown">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% include 'dashboard/form_template.html' %}
                            <!--<input type="text" placeholder="Username"/>-->
                            <!--<input type="password" placeholder="Password"/>-->
                            <button id="btn-login" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            {% verbatim %}

        </div>

        <!-- Dashboard -->
        <div id="dash-content">

            <!-- Dash Header -->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">

                    <thead>
                    <tr>
                        <td style="width:15%">
                            <a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Timestamp
                <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:25%">
                            <a href="#" ng-click="sortType = 'activityTitle'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Activity Title
                <span ng-show="sortType == 'activityTitle' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'activityTitle' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:11%">
                            <a href="#" ng-click="sortType = 'orgName'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Org Name
                <span ng-show="sortType == 'orgName' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'orgName' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:7%">
                            <a href="#" ng-click="sortType = 'term'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Term
                <span ng-show="sortType == 'term' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'term' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:10%">
                            <a href="#" ng-click="sortType = 'submissionType'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Submission Type
                <span ng-show="sortType == 'submissionType' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'submissionType' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:7%">
                            <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:14%">
                            <a href="#" ng-click="sortType = 'checkedBy'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Checked By
                <span ng-show="sortType == 'checkedBy' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'checkedBy' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                        <td style="width:11%">
                            <a href="#" ng-click="sortType = 'dateChecked'; sortReverse = !sortReverse">
              <span class="wrap-header">
                Date Checked
                <span ng-show="sortType == 'dateChecked' && !sortReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortType == 'dateChecked' && sortReverse" class="fa fa-caret-down"></span>
              </span>
                            </a>
                        </td>
                    </tr>
                    </thead>

                </table>
            </div>

            <!-- Dash content -->
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr ng-repeat="user_person in postact_data | orderBy:sortType:sortReverse | filter:filters"
                        ng-click="showModal(user_person)" class="tableRow">
                        <td class="tbl-body" style="width:15%"><span
                                class="wrap-cell">{{ user_person.timestamp }}</span></td>
                        <td id="important" class="tbl-body" style="width:25%"><span class="wrap-cell">{{ user_person.activityTitle }}<span
                                class="tooltip"></span></span></td>
                        <td class="tbl-body" style="width:11%"><span class="wrap-cell">{{ user_person.orgName }}</span>
                        </td>
                        <td class="tbl-body" style="width:7%"><span class="wrap-cell">{{ user_person.term }}</span></td>
                        <td class="tbl-body" style="width:10%"><span
                                class="wrap-cell">{{ user_person.submissionType }}</span></td>
                        <td class="tbl-body" style="width:7%"><span class="wrap-cell">{{ user_person.status }}</span>
                        </td>
                        <td class="tbl-body" style="width:14%"><span
                                class="wrap-cell">{{ user_person.checkedBy }}</span></td>
                        <td class="tbl-body" style="width:11%"><span
                                class="wrap-cell">{{ user_person.dateChecked }}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    {% endverbatim %}
</div>

</body>
</html>