{% load staticfiles %}
{% load dashboard_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>CSO Dashboard</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link href="{% static 'dashboard/css/theme.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/css/tooltips.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/css/pseudo.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/css/modal-style.css' %}" rel="stylesheet" type="text/css"/>
        {% if request.user|has_group:"moderator" %}
        <link href="{% static 'dashboard/css/table-style-mod.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/css/modal-mod.css' %}" rel="stylesheet" type="text/css"/>
        {% else %}
        <link href="{% static 'dashboard/css/table-style.css' %}" rel="stylesheet" type="text/css"/>
        {% endif %}

        <script src="{% static 'dashboard/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/js/angular.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/js/js-angular-filter.js' %}" type="text/javascript"></script>

        <script src="{% static 'dashboard/js/normalize.js' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/js/modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/js/js-angular-filter.js' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/js/sign-in.js' %}" type="text/javascript"></script>

    </head>
    <body ng-app="dashboardApp" ng-controller="mainController">
    <script>
        var defaultTerm = "{{term}}";
    </script>
        <!-- THE MODAL OVERLAY -->
        {% verbatim %}
        <div id="modal-wrapper">
            <i class="fa fa-times close"></i>
            <div id="modal-details-wrapper">
                <ul class="tab-wrapper">
                    <li class="active" data-id="genActs">General Activity Details</li>
                    <li data-id="submission">Submission Details</li>
                    <li data-id="csoDetails">CSO Details</li>
                </ul>
                <div class="content-wrapper visible" id="genActs">
                    <div>
                        <b>Activity Title</b>
                        <p>{{modalActivity}}</p>
                    </div>
                    <div>
                        <b>Organization Name</b>
                        <p>{{modalOrg}}</p>
                    </div>
                    <div>
                        <b>Tie-up Organization</b>
                        <p>{{modalTieUp}}</p>
                    </div>
                    <div>
                        <b>ENP</b>
                        <p>{{modalEnp}}</p>
                    </div>
                    <div>
                        <b>ENMP</b>
                        <p>{{modalEnmp}}</p>
                    </div>
                    <div>
                        <b>ANP</b>
                        <p>{{modalAnp}}</p>
                    </div>
                    <div>
                        <b>ANMP</b>
                        <p>{{modalAnmp}}</p>
                    </div>
                </div>
                <div class="content-wrapper" id="submission">
                    <div>
                        <b>Timestamp</b>
                        <p>{{modalTimeS | date:'medium'}}</p>
                    </div>
                    <div>
                        <b>Type of Submission</b>
                        <p>{{modalSubType}}</p>
                    </div>
                    <div>
                        <b>Submitted by</b>
                        <p>{{modalSubBy}}</p>
                    </div>
                    <div>
                        <b>Contact Number</b>
                        <p>{{modalContact}}</p>
                    </div>
                    <div>
                        <b>Email Address</b>
                        <p>{{modalEmail}}</p>
                    </div>
                </div>
                <div class="content-wrapper" id="csoDetails">
                    <form id="modalForm" method="post">

                        {% endverbatim %}
                        {% csrf_token %}
                        {% verbatim %}
                        <div class="in-progress" id="saving_banner" style="display: none">
                            <p class="messages" id="saving_msg"></p>
                        </div>
                        <input type="hidden" name="id" value="{{modalId}}"/>
                        <div>
                            <b>Activity Title</b>
                            <p>{{modalActivity}}</p>
                        </div>
                        <div>
                            <b>Status</b>
                            {% endverbatim %}
                            {% if request.user|has_group:"moderator" %}
                            <select id="submitStatus" ng-model="modalStatus"
                                    ng-options="status.long as status.long for status in statusList">
                            </select>
                            {% else %}
                            {% verbatim %}
                            <p id="submitStatus" contenteditable="false">{{modalStatus}}</p>
                            {% endverbatim %}
                            {% endif %}
                            {% verbatim %}
                        </div>
                        <div>
                            <b>Checked by</b>
                            <p id="submitCB" contenteditable="false">{{modalChckedBy}}</p>
                        </div>
                        <div>
                            <b>Date Checked</b>
                            <p id="submitDC" contenteditable="false">{{modalDateChcked}}</p>
                        </div>
                        <div>
                            <b>Remarks</b>
                            {% endverbatim %}
                            {% if request.user|has_group:"moderator" %}
                            <input id="submitRemarks" type="text">
                            <span class="underline"></span>
                                {% else %}
                            <p id="submitRemarks" contenteditable="false">
                                {% endif %}
                                {% verbatim %}
                                {{modalRemarks}}
                            </p>
                        </div>
                        <br/>
                        {% endverbatim %}
                        {% if request.user|has_group:"moderator" %}

                        <h3>Confirmation Details</h3>
                        <hr>
                        <div>
                            <b>Confirm Password</b>
                            <input type="password">
                            <span class="underline"></span>
                        </div>
                        <input type="submit" value="Save"/>
                        <input id="discard" type="button" value="Discard" class="hallow"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <nav>
            <a href="{% url 'dashboard:index' %}" class="logo-banner">
                <img src="{% static 'dashboard/assets/images/ADM-logo.png' %}" id="site-logo"/>
                <p><b>CSO</b>Dashboard</p>
            </a>
            <input type="text" id="search" placeholder="Search Post-acts..." ng-model="filterSearch"/>
            <ul>
                {% if request.user|has_group:"moderator" %}
                {% verbatim %}
                <div id="unchecked">{{getUnchecked()}}</div>
                {% endverbatim %}
                {% endif %}
                <a href="{% url 'dashboard:index' %}">
                    <li class="active">Home</li>
                </a>
                <a href="{% url 'org_list:general_orgs' %}">
                    <li>Organization List</li>
                </a>
            </ul>
            {% if user.is_authenticated %}
            <form id="sign-out" action="" method="POST">
                <button type="button" class="hallow">Fname Lname &nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
            </form>
            <form id="sign-in" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="logout"/>
                <button class="plain-text">Sign out</button>
            </form>
            {% else %}
            <button class="hallow">Sign in &nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
            {% if messages %}
            <form id="sign-in" action="" style="display: block;" method="POST">
            {% else %}
            <form id="sign-in" action="" method="POST">
            {% endif%}
                {% if messages %}
                    <div class="error">
                        {% for message in messages %}
                        <p class="messages">Invalid username or password.</p>
                        <p id="form-close"><i class="fa fa-times-circle"></i></p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% csrf_token %}
                <p>Username</p>
                <input type="text" placeholder="username" name="username" id="username"/>
                <p>Password</p>
                <input type="password" placeholder="password" name="password" id="password"/>
                <br/><br/>
                <button type="submit">Sign in</button>
            </form>
            {% endif %}
        </nav>
        
        <header>
            <h1>WELCOME TO DASHBOARD!</h1>
            <p>You can view all the post acts of different organizations.</p>
            <!--<div class="checklist-wrapper">
                <table class="checklist-table">
                    <h2>Checklist:</h2>
                    <tr>
                        <td>Thesis-It</td>
                        <td>LSCS</td>
                    </tr>
                    <tr>
                        <td>Thesis-It</td>
                        <td>LSCS</td>
                    </tr>
                    <tr>
                        <td>Thesis-It</td>
                        <td>LSCS</td>
                    </tr>
                </table>
            </div>-->
        </header>
        <section class="filter-wrapper">
            <span>Month:</span>
            <select ng-model="filterMonth" ng-options="month.short as month.long for month in monthList">
                <option value="">All Months</option>
            </select>

            <span>Term:</span>
            <select ng-model="filterTerm" ng-options="term.short as term.long for term in termList">
                <option value="">All Terms</option>
            </select>

            <span>Type:</span>
            <select ng-model="filterType" ng-options="type.long as type.long for type in typeList">
                <option value="">All Types</option>
            </select>

            <span>Status:</span>
            <select ng-model="filterStatus" ng-options="status.long as status.long for status in statusList">
                <option value="">All Status</option>
            </select>

            <span>Checked by:</span>
            <select ng-model="filterChecker" ng-options="checker as checker for checker in checkerList">
                <option value="">All Checkers</option>
            </select>
        </section>
        <section class="fill">
            <table cellspacing="0" cellpadding="0" border="0" class="post-acts-table">
                {% verbatim %}
                <tr class="headers">
                    {% endverbatim %}
                    {% if request.user|has_group:"moderator" %}
                    <th></th>
                    {% endif %}
                    {% verbatim %}
                    <th></th>
                    <th ng-click="sortType = 't'; sortReverse = !sortReverse">
                        Timestamp
                        <span ng-show="sortType == 't' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 't' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 'n'; sortReverse = !sortReverse">
                        Activity Title
                        <span ng-show="sortType == 'n' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'n' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 'o'; sortReverse = !sortReverse">
                        Org Name
                        <span ng-show="sortType == 'o' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'o' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 'st'; sortReverse = !sortReverse">
                        Submission Type
                        <span ng-show="sortType == 'st' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'st' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 's'; sortReverse = !sortReverse">
                        Status
                        <span ng-show="sortType == 's' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 's' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 'cb'; sortReverse = !sortReverse">
                        Checked By
                        <span ng-show="sortType == 'cb' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'cb' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                    <th ng-click="sortType = 'd'; sortReverse = !sortReverse">
                        Date Checked
                        <span ng-show="sortType == 'd' && !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'd' && sortReverse" class="fa fa-caret-down"></span>
                    </th>
                </tr>
                {% endverbatim %}

                {% verbatim %}
                <tr ng-repeat="user_person in filtered_data = ( postact_data | orderBy:sortType:sortReverse | filter:filters | filter:filterTerm)"
                    ng-click="showModal(user_person)">
                    {% endverbatim %}
                    {% if request.user|has_group:"moderator" %}
                    <td><i class="fa fa-exclamation-circle" ng-show="isPriority(user_person)"></i></td>
                    {% endif %}
                    {% verbatim %}
                    <td>{{$index + 1}}</td>
                    <td>{{ user_person.t }}</td>
                    <td>{{ user_person.n }}</td>
                    <td ng-mouseover="setTooltip(user_person)" class="tool" data-tip={{currTooltip}}>{{ user_person.o }}</td>
                    <td>{{ user_person.st }}</td>
                    <td>{{ user_person.s }}</td>
                    <td>{{ user_person.cb }}</td>
                    <td>{{ user_person.d }}</td>
                </tr>

                <div>
                    <p id="result-count" ng-show="(filterMonth || filterTerm || filterSearch || filterType || filterStatus || filterChecker || filterOrg) && filtered_data.length != 0 && filtered_data.length != 1">
                        {{filtered_data.length}} results found.</p>
                    <p id="result-count" ng-show="(filterMonth || filterTerm || filterSearch || filterType || filterStatus || filterChecker || filterOrg) && filtered_data.length == 1">
                        {{filtered_data.length}} result found.</p>
                    <p id="result-count" ng-show="(filterMonth || filterTerm || filterSearch || filterType || filterStatus || filterChecker || filterOrg) && filtered_data.length == 0">
                        No results found.</p>
                    {% endverbatim %}
                    {% if request.user|has_group:"moderator" %}
                    <div id="results-right">
                        <input id="check-unchecked" type="checkbox" ng-click="toggleUncheckedOnly()">Show only unchecked
                    </div>
                    {% endif %}
                </div>
            </table>
        </section>
    </body>
</html>
