/* style for the web app */

body, html{
    margin: 0;
    padding: 0;
    background-color: #f1f2f7;
    font-family: 'raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #555;
    margin: 0;
    margin-bottom: 10px;
}

input{
    outline: none;
}

div.field input{
    padding: 15px 10px;
    border-radius: 3px;
    color: #333;
    border: thin solid #f1f2f7;
}

button{
    border-radius: 3px;
    background-color: #1abc9c;
    border: thin solid #1abc9c;
    color: white;
    font-family: 'raleway', sans-serif;
    padding: 11px 23px;
    cursor: pointer;
    text-transform: uppercase;
}

div.logo-banner{
    background-color: #1abc9c;
    padding: 15px 30px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

div.logo-banner p{
    color: white;
    margin: 0 auto;
    font-size: 1em;
}

div.login-wrapper{
    overflow: hidden;
    padding: 30px;
    padding-top: 80px;
    width: 350px;
    margin: 10% auto;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px #ddd;
    position: relative;
}

div.login-wrapper form input{
    width: 94%;
    margin-bottom: 10px;
    background-color: #f1f2f7;
}

div.login-wrapper form span{
    font-size: 0.7em;
    color: #555;
}

button{
    width: 100%;
}