/* Theme stylesheet of the dashboard */

:root{
    --theme-color: #738bd7;
    --theme-dark-accent: #5f74b1;
    
    --theme-dark-neutral: #202226;
    --theme-grey-neutral: #6c6e71;
    --theme-grey-neutral-2: #ddd;
    --theme-grey-neutral-3: #ccc;
    --theme-light-neutral: #ffffff;
    --theme-light-neutral-2: #f1f2f7;
    
    --chunk-padding: 40px 10%;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--theme-light-neutral-2);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    color: var(--theme-color);
    font-family: 'Proxima Nova', sans-serif;
}

p{
    margin: 10px 0;
    padding: 0;
    color: var(--theme-dark-neutral);
}

a{
    color: inherit;
    text-decoration: none;
}

span{
    font-style: italic;
    font-size: 0.8em;
    color: var(--theme-grey-neutral);
}

input, button{
    border-radius: 3px;
    padding: 11px 20px;
    font-size: 0.85em;
    outline: none;
    font-family: 'Proxima Nova', sans-serif;
}

input[type="text"], input[type="tel"], input[type="number"],
input[type="email"], input[type="password"]{
    border: thin solid var(--theme-grey-neutral-3);
    background-color: var(--theme-light-neutral-2);
    color: var(--theme-grey-neutral);
}

input[type="button"], input[type="submit"], button, button.hallow,
input.hallow{
    border: thin solid var(--theme-color);
    background-color: var(--theme-color);
    color: white;
    cursor: pointer;
    outline: none;
}

button.hallow, input.hallow{
    background-color: transparent;
    color: var(--theme-color);
}

input.grey, button.grey{
    border: var(--theme-grey-neutral);
    background-color: var(--theme-grey-neutral);
    color: var(--theme-light-neutral);
}

input#search{
    text-indent: 30px;
    font-size: 0.79em;
    width: 40%;
    margin-left: 30px;
    border-color: var(--theme-light-neutral-2);
    background-image: url('../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    padding: 10px 20px;
    padding-right: 35px;
    margin-right: 25px;
    font-family: 'Proxima Nova', sans-serif;
    background-color: transparent;
    border:  thin solid var(--theme-color);
    border-radius: 3px;
    outline: none;
    font-weight: normal;
    color: var(--theme-color);
    cursor: pointer;
    
    background-image: url("../assets/icons/angle-arrow-down.svg");
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5%);
}

section, footer{
    padding: var(--chunk-padding);
}

header{
    padding: 60px 10%;
}

header h1.org-name{
    margin-bottom: 30px;
    text-align: center;
}

header div.status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div.status > div{
    margin: 10px 30px;
}

div.status p{
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--theme-grey-neutral);
    text-align: center;
}

div.status h2{
    font-size: 2em;
    text-align: center;
}

section.fill{
    background-color: #fbfbfb;
}

section.filter-wrapper{
    padding: 10px 10%;
    background-color: var(--theme-light-neutral);
    border-bottom: thin solid var(--theme-grey-neutral-2);
    border-top: thin solid var(--theme-grey-neutral-2);
}

.sticky{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--theme-light-neutral-2);
    z-index: 2500;
}

nav{
    background-color: var(--theme-light-neutral);
    border-bottom: thin solid var(--theme-grey-neutral-2);
    /*box-shadow: 0px 0px 10px var(--theme-grey-neutral-2);*/
    padding: 7px 10%;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 999;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    font-size: 0.85em;
    display: inline;
    color: var(--theme-grey-neutral);
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

nav ul li.active{
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

nav button.active{
    color: white;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

form#sign-in{
    position: fixed;
    top: 50px;
    display: none;
    right: 10%;
    background-color: var(--theme-light-neutral);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 11px var(--theme-grey-neutral-2);
}

form#sign-in input{
    width: 250px;
}

form#sign-in p{
    font-size: 0.83em;
    text-transform: uppercase;
}