<!DOCTYPE html>
<html>
    <head>
        <title>ADM Dashboard Login</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="{%static 'login/css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{%static 'login/css/pseudo.css' %}" type="text/css" />
    </head>
    <body>
        <div class="login-wrapper">
            <div class="logo-banner">
                <p>
                    <b>CSO</b>Dashboard
                </p>
            </div>
            <h2>Login</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--
                <span>Username</span>
                <input type="text" name="username" autofocus placeholder="ex. organization name" class="field" />
                <span>Password</span>
                <input type="password" name="password" placeholder="ex. ••••••••••••••••" class="field" />
                -->
                {% include 'registration/form_template.html' %}
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>