

table{
  width:100%;
  table-layout: fixed;
}

#dash-content {
  position: relative;
  top: 5.5rem;
}

.tbl-header {
  padding: 1em 0em 0.3em 0em;
  margin: 0em 3em;
  color: #636366;
  font-weight: 100;
 }

.tbl-content {
  background-color: white;
  overflow-x:auto;
  height: 70%;
  margin: 0 3em 1em 3em;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  text-align: left;
}

td {
  width: auto;
  table-layout: fixed;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1em;
  text-overflow: ellipsis;
  border-bottom: solid 1.5px #f1f2f7;
}

.wrap-cell {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.wrap-header {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.wrap-header span {
  position: relative;
}

.tbl-header td {
  padding: 1.2em 1em 0em 1.3em;
  font-size: 0.9em;
  color: #636366;
  vertical-align: bottom;
}

.tbl-content td {
  padding: 1.2em 1em 1.2em 1.3em;
}

#sidenav::-webkit-scrollbar-track,
.tbl-content::-webkit-scrollbar-track {
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
	border-radius: 10px;
	background-color: #F5F5F5;
}

#sidenav::-webkit-scrollbar-track,
.tbl-content::-webkit-scrollbar-track {
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
	border-radius: 10px;
	background-color: #d9d9d9;
}

#sidenav::-webkit-scrollbar,
.tbl-content::-webkit-scrollbar {
	width: 0.5em;
	background-color: #d9d9d9;
}

#sidenav::-webkit-scrollbar-thumb,
.tbl-content::-webkit-scrollbar-thumb {
	 border-radius: 10px;
/*   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);*/
   background-color: #a3a3a3;
}

#important {
  font-weight: 600;
  width: 30%;
}
/*
  
*/







.left-header,
.right-header {
  display: table-cell
}

.right-header {
  width: auto;
}

.left-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}