
@media only screen and (max-width: 717px) {
    
  #form-search {
    width: 40%;  
    
  }
  
  #user-username {
    display: none;
  }
  
  #user-icon {
    right: -1.9em;
  }
  
  @media only screen and (max-width: 425px) {
    
    #form-search {
      display: none;  
    }
    
  }
}
