/* post acts table stylesheet */

:root{
    --theme-color: #738bd7;
    --theme-dark-accent: #5f74b1;
    
    --theme-dark-neutral: #202226;
    --theme-grey-neutral: #6c6e71;
    --theme-grey-neutral-2: #ddd;
    --theme-grey-neutral-3: #ccc;
    --theme-light-neutral: #ffffff;
    --theme-light-neutral-2: #f1f2f7;
    
    --chunk-padding: 40px 10%;
}

table.post-acts-table, table.org-table, table.users-table{
    width: 100%;
}

table.post-acts-table th, table.post-acts-table td,
table.org-table th, table.org-table td,
table.users-table th, table.users-table td{
    text-align: left;
}

table.post-acts-table th, table.org-table th, table.users-table th{
    padding: 25px 15px;
    font-size: 0.75em;
    color: #6c6e71;
    text-decoration: underline;
}

table.post-acts-table td, table.org-table td, table.users-table td{
    padding: 25px 15px;
    font-size: 0.8em;
    border-bottom: thin solid #ddd;
}

table.post-acts-table tr td:nth-child(3),
table.org-table tr td:nth-child(2),
table.users-table tr td:nth-child(2){
    font-weight: bold;
}

table.post-acts-table tr td:nth-child(1),
table.org-table tr td:nth-child(1){
    font-weight: bold;
    color: var(--theme-color);
}
/*
table.post-acts-table tr:nth-child(even){
    background-color: var(--theme-light-neutral-2);
}
*/

table.users-table tr:nth-child(even){
    background-color: var(--theme-light-neutral-2);
}

table.users-table tr td, table.users-table tr th{
    text-align: center;
}

table.post-acts-table tr, table.org-table tr{
    cursor: pointer;
}

table.post-acts-table tr, table.org-table tr,
table.users-table tr{
    display: flex;
}

table.org-table td{
    text-align: center;
}

table.org-table tr td:nth-child(1),
table.org-table tr td:nth-child(2),
table.org-table tr td:nth-child(3),
table.org-table tr td:nth-child(4){
    text-align: left;
}